table, th, td, tr {
   border: 3% solid transparent;
   border-collapse: collapse;
}	

.icona {
 width: 80%;
 height: 100px;
 background-color: #f2f2f2;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: transform 0.3s ease-in-out;
}

body{
 width: 100%;
 overflow-x: auto;
}	

table {
 width: 100%;
 max-width: 100%;
 margin-bottom: 1rem;
 background-color: transparent;
 border-collapse: collapse;
}
